
.bord { border: 1px solid black; border-radius:2px; 
}

/* .contenido{ height: 400px ; */
}

/* .contenido2{ height: 300px ; */
}

.fondo{ background-color: white;
}

.bienvenida{
    background-color: #4285f4;
    /* height: 80px; */
}

.pisodepto{
    background-color: #4285f4;
}

.tablero{
    background-color: white;
}

.tablerofondo{
    background-color: #fbbc05;
}

.llamar{
    background-color: #4285f4;
}

.borrar{
    background-color:#ea4335;
}
.pantalla{
    background-color: #34a853;
}